<div class="container">
<div class="row">
<div class="col-md-10 offset-1">

<% # Enotecnias %>
<div class="card mb-5">
  <img class="card-img-top img-workshops" src="<%= asset_path('img/enotecnia.jpg') %>" alt="Imagen de Enotecnias">
  <div class="card-body">
    <h5 class="card-title">ENOTECNIAS</h5>
    <p class="card-text">Explora el fascinante mundo de la enotecnia y descubre cómo producimos vinos de calidad en nuestro bioparque utilizando métodos tradicionales y modernos.</p>
  </div>
</div>

<% # Cultivo de Hongos %>
<div class="card mb-5">
  <img class="card-img-top img-workshops" src="<%= asset_path('img/cultivo-hongos.jpg') %>" alt="Imagen de Cultivo de Hongos">
  <div class="card-body">
    <h5 class="card-title">CULTIVO DE HONGOS</h5>
    <p class="card-text">Aprende sobre el cultivo de hongos y cómo los utilizamos en nuestra agricultura ecológica para mejorar la salud del suelo y la producción de alimentos.</p>
  </div>
</div>

<% # Bambú - Construcción %>
<div class="card mb-5">
  <img class="card-img-top img-workshops" src="<%= asset_path('img/bambu-construccion.jpg') %>" alt="Imagen de Bambú - Construcción">
  <div class="card-body">
    <h5 class="card-title">BAMBU - CONSTRUCCIÓN</h5>
    <p class="card-text">Aprende sobre el bambú y su uso en la construcción sostenible, descubre sus propiedades y aplicaciones arquitectónicas.</p>
  </div>
</div>

<% # Bambú - Artesanías %>
<div class="card mb-5">
  <img class="card-img-top img-workshops" src="<%= asset_path('img/bambu-artesanias.jpg') %>" alt="Imagen de Bambú - Artesanías">
  <div class="card-body">
    <h5 class="card-title">BAMBU - ARTESANÍAS</h5>
    <p class="card-text">Explora las creaciones artísticas y artesanías elaboradas con bambú, conoce su versatilidad y valor como material en el arte y diseño.</p>
  </div>
</div>

</div>
</div>
</div>