
.header-top .fa.fa-wifi {
    -ms-transform: rotate(7deg); /* IE 9 */
    -moz-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
    -moz-transform-origin: 20% 40%;
}
.header-top .fa.fa-wifi {
  transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform-origin: 65% 40% 0;
  -ms-transform-origin: 65% 40% 0;
  -moz-transform-origin: 65% 40% 0;
  -webkit-transform-origin: 65% 40% 0;
}
.header-top {
  background: #43e9ff none repeat scroll 0 0;
  height: 35px;
  line-height: 35px;
}
.header-top ul li {
  display: inline;
}
.header-top ul li a {
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.header-top i {
  color: #fff;
  font-size: 15px;
  padding-left: 24px;
}
.header-top p i {
  padding-left: 24px;
}
.header-top p {
  display: inline;
  width: 50%;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.header-top p a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.header-top span {
  padding-right: 10px;
}
.header-top .a-right {
  text-align: right;
}
.header-top .icon {
  text-align: center;
}
.header {
  height: 140px;
  margin-bottom: -33px;
  margin-top: 20px;
}

        /* Estilos del submenú */
.submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #0074D9;
          z-index: 1;
}

.nav.navbar-nav .active .submenu {
          display: block;
}

.submenu-item {
          padding: 10px;
}

.logo h2 {
  color: #4f4f4f;
  font-family: "Roboto",sans-serif;
  font-size: 61px;
  font-weight: bold;
}
.logo > a {
  text-decoration: none;
}
.nav.navbar-nav {
  margin-top: 28px;
}
.navbar-nav > li > a {
  color: #665f5f;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
}
.nav.navbar-nav a:hover {
    background: #fff;
    color: #00f535
}
.cart {
  text-align: right;
}
.cart > p {
  font-size: 23px;
  margin-top: 36px;
}
.cart i {
  color: #00f2ff;
  font-size: 30px;
}
.cart sup {
  background: #c3bdbd;
  margin-left: -4px;
  padding: 0 5px;
  border-radius: 20px;
}
.header-part {
  margin-top: 37px;
}
.header-part > p {
  color: #3b3131;
  font-size: 13px;
  font-weight: 400;
}
.header-part span {
  color: #3be2ff;
}








/*Contact page*/
.contact-us {
  margin: 90px 0px 110px
}

.contact-us h2{
    font-size: 38px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
}
.get_in_touch {
  padding-left: 70px;
}
.contact-us form p {
  color: #383838;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 28px 0 0;
}
.contact-us form input {
  border: 1px solid #c0c0c0;
  height: 40px;
  padding: 0 20px;
  width: 100%;
  background: #f8f8f8;
}
.contact-us form textarea {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  height: 230px;
  padding: 0 20px;
  width: 100%;
}
.contact-us input[type="submit"] {
  background: #00d0ff none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-top: 31px;
  text-transform: uppercase;
  width: 105px;
}
.contact-us .contact_icon .icon {
  float: left;
}
.contact-us .contact_icon .icon i {
  background: #00eaff none repeat scroll 0 0;
  color: #fff;
  font-size: 28px;
  padding: 8px 0;
  text-align: center;
  width: 50px;
}
.contact-us .contact_icon .c_text {
  float: left;
  margin-left: 13px;
}
.contact-us .contact_icon .c_text p{
    line-height: 20px
}
.contact-us .contact_icon .c_text p {
  line-height: 10px;
  margin-top: 7px;
  color: #333333;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.contact-us .contact_icon {
  margin-left: -10px;
  margin-top: 50px;
}

/*Blog Page*/

.blog_slider {
  margin-bottom: 105px;
  margin-top: 150px;
  position: relative;
}

.blog_slider h2 {
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 58px;
  font-weight: 400;
  left: 46.2%;
  position: absolute;
  text-align: center;
  top: 40px;
}

.blog_slider > img {
  width: 100%;
    height: 570px
}
.blog_overlay {
  position: absolute;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
}
.blog-slide-text .b-slide > img {
  width: 100%;
}
.blog-slide-text .b-text > h2 {
  color: #00d0ff;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 3px 0 10px;
}
.blog-slide-text .b-text > p {
  border-bottom: 1px solid #898989;
  color: #898989;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 5px 0;
}
.col-md-9 > .b-slide-text {
  padding: 50px 0;
}
.blog-slide-text .b-text i {
  margin-right: 10px;
}
.blog-slide-text .b-text span {
  margin-right: 10px;
}
.blog-slide-text .b-text > h4 {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  padding: 10px 0;
  text-align: justify;
}
.blog-slide-text .b-text a.read-more {
  color: #00e5ff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Roboto",sans-serif;
}

.blog-sidebar h2 {
  color: #00e1ff;
  font-family: "Roboto",sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 50px 0 25px;
}
.resent-post {
  border: 1.5px solid #bfb7b7;
}
.resent-post > img {
  float: left;
}
.resent-post .text {
  float: right;
  padding: 18px 0;
}
.resent-post .text > h3 {
    font-size: 17px;
    color: #2a2a2a;
    margin: 0;
  font-weight: 400;
  font-family: "Roboto",sans-serif;
}
.resent-post .text > p {
    font-size: 13px;
    margin: 0;
  font-weight: 400;
  font-family: "Roboto",sans-serif;
}
.resent-post-single {
  border-bottom: 1px solid #bfb7b7;
  margin: 0 10px;
  padding: 10px 0;
}
.resent-post-single:last-child {
  border: medium none;
}
.categorie {
  border: 1.5px solid #bfb7b7;
  padding: 0;
}
.categorie p {
  color: #434343;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
  padding: 5px 0 5px 35px;
}
.categorie p:hover {
  color: #fff;
    background: #00ccff
}
.tags{
  border: 1.5px solid #bfb7b7;
    padding: 35px 12px
}
.tags span {
  background: #ececec none repeat scroll 0 0;
  color: #4b4b4b;
  display: inline-block;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  margin: 5px 2px;
  padding: 5px 8px;
}
.pagination li a{
    background: #c8c8c8;
    color: #2a2a2a;
    font-size: 25px;
    font-family: "Roboto",sans-serif;
    margin: 0px 6px
}
.pagination li a:hover{
    background: #00d9ff;
    color: #fff
}
.pagination {
  margin: 20px 0 95px;
  padding-left: 22%;
}


/*single blog page*/

.blog-slide-text .one p {
  color: #969696;
  font-size: 17px;
  line-height: 32px;
  margin-top: 21px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
}
.owl-nav .owl-prev{
    float: left;
    text-transform: uppercase;
    border: 1px solid #bfb6b6;
    padding: 5px 10px;
    
}
.owl-nav .owl-prev:hover{
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    
}
.owl-nav .owl-next{
    float: right;
    text-transform: uppercase;
    border: 1px solid #bfb6b6;
    padding: 5px 10px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    font-size: 16px
}

.owl-nav .owl-next:hover{
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff
    
}
.owl-carousel.owl-loaded.owl-drag {
  margin-top: 55px;
  width: 790px;
}
.owl-carousel .owl-stage-outer {
  margin-bottom: 38px;
  overflow: hidden;
  position: relative;
}
.blog-sidebar {
  float: right;
  width: 290px;
}
.blog-slide-text {
  margin-top: 115px;
}
.one > img {
  margin-bottom: 70px;
}
.shere {
  margin-top: 60px;
  text-align: center;
  width: 790px;
}
.shere h2 {
  color: #2d2d2d;
  font-family: "Roboto",sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 43px;
  text-transform: uppercase;
}
.shere p i {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #bfb6b6 -moz-use-text-color #bfb6b6 #bfb6b6;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
  color: #868686;
  font-size: 20px;
  padding: 10px 0;
  width: 50px;
}
.shere p i:hover {
  color: #f39c12;
}
.shere .fa.fa-google-plus {
  border-right: 1px solid #bfb6b6;
}


.commententries {
  float: left;
  margin: 122px 0 0;
  padding: 0;
  width: 100%;
}
.commententries h3 {
  color: #424242;
  font-family: "Roboto",sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}
ul.commentlist { 
    float:left; 
    margin:20px 0px 20px 0px; 
    padding:0px 0px 20px 0px; 
    list-style:none; 
    border-top:0px; 
}
ul.commentlist li { 
    display:block; 
    float:none; 
    list-style:none; 
    border:none; 
    margin:0px 0px 20px; 
    padding:0px; 
    position:relative; 
    clear:both; 
}
ul.commentlist li ul.children {
  border: medium none;
  clear: both;
  float: left;
  margin: 30px 0 28px 100px;
  padding: 0;
  width: 100%;
}
.comment-details h5{ 
    font-size: 19px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: #333333;
}
.comment-details h5 span{ 
    font-size: 13px;
    color: #595656
}
.comment-body p{
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    color: #a29c9c;
    
}
		
ul.commentlist li .comment-author img {
  float: left;
  margin: 0 22px 0 0;
  max-height: 88px;
  max-width: 88px;
}
ul.commentlist li .author-name { 
    font-weight:bold; 
    font-size:16px; 
    padding-bottom:5px; 
}
ul.commentlist li .author-name a {
  color: #333334;
  text-decoration: none;
}
.comment .reply p{
    margin-left: 103px;
    color: #534f4f;
}
.comment .reply p:hover{
    color: #f39c12;
}

.comment input {
  padding: 5px 10px;
  width: 540px;
}

.comment h2 {
  color: #343434;
  font-family: "Roboto",sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 44px;
  margin-top: 40px;
}

.comment form p {
  color: #a29c9c;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0 5px;
}

.comment form {
    margin: 0px 0px 120px
}
.comment textarea {
  padding: 5px 10px;
  width: 540px;
    height: 115px;
}
.comment input[type="submit"] {
  background: #24a390 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  display: block;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 135px;
  padding: 5px;
  width: 100px;
}




/*Faq section*/

.faq-page h2 {
  color: #4f4f4f;
  font-family: "Roboto",sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 92px 0 93px;
}
.desion {
  background: #f7f7f7 none repeat scroll 0 0;
  margin-top: 13px;
  width: 250px;
}
.ui-accordion.ui-widget.ui-helper-reset {
  margin-left: -13px;
}
.faq-page .desion > p {
  color: #1e1e1e;
  font-family: "Roboto",sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 41px;
}
.faq-page .desion > p:hover {
  color: #f39c12;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-color: #f39c12;
  margin-right: 7px;
  top: 0;
}
.ui-icon, .ui-widget-content .ui-icon {
  background-color: #f39c12;
  margin-right: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #454545;
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  font-weight: 400;
    
}



.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  color: #f39c12;
  font-weight: normal;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}


.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:active .ui-icon,
.ui-button:focus .ui-icon {
	background-image: url("img/ui-icons_ffffff_256x240.png");
}
.ui-icon, .ui-widget-content .ui-icon {
  background-image: url("img/ui-icons_ffffff_256x240.png");
}
.ui-accordion .ui-accordion-content {
  border: none;
  overflow: auto;
  padding: 1em 2.2em;
}

#accordion p {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: -4px;
}

.accordion-start {
  padding-bottom: 185px;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url("img/ui-icons_ffffff_256x240.png");
}
.clear {
    clear: both
}
.container {
  width: 1300px !important;
}