<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nuestros pilares</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <div class="text-img left">
                   <!-- <img src="img/bioconst.png"> -->
                   <%= image_tag("img/bioconst.png") %>
                <h3>Bioconstrucción</h3>
                <p>
                    La bioconstrucción es un enfoque de edificación que utiliza materiales naturales y técnicas sostenibles para crear espacios armoniosos y respetuosos con el medio ambiente.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="text-img center">
                   <!-- <img src="img/permacultura.jpg"> -->
                   <%= image_tag("img/permacultura.jpg") %>
                <h3>Permacultura</h3>
                <p>La permacultura es un sistema de diseño sostenible basado en la observación de la naturaleza para crear comunidades autosuficientes y respetuosas.</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="text-img right">
                   <!-- <img src="img/logotec2 (1).png"> -->
                   <%= image_tag("img/logotec2 (1).png") %>
                <h3>Tecnologia</h3>
                <p>La tecnología es la aplicación del conocimiento para diseñar, crear y utilizar herramientas y sistemas que mejoran la vida humana.</p>
               </div>
            </div>
        </div>
    </div>
</section>