<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-rotator">
                    <h2>Nuestros pilares</h2>
                    <div class="text-img">
                        <h3>Bioconstrucción</h3>
                        <p>La bioconstrucción es un enfoque de edificación que utiliza materiales naturales y técnicas sostenibles para crear espacios armoniosos y respetuosos con el medio ambiente.</p>
                    </div>
                    <div class="text-img">
                        <h3>Permacultura</h3>
                        <p>La permacultura es un sistema de diseño sostenible basado en la observación de la naturaleza para crear comunidades autosuficientes y respetuosas.</p>
                    </div>
                    <div class="text-img">
                        <h3>Tecnologia</h3>
                        <p>La tecnología es la aplicación del conocimiento para diseñar, crear y utilizar herramientas y sistemas que mejoran la vida humana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="venn-diagram">
                    <div class="circle-container">
                        <div class="circle circle-1">
                            <%= image_tag "img/bioconst.png" %>
                        </div>
                        <div class="circle circle-2">
                            <%= image_tag "img/permacultura.jpg" %>
                        </div>
                        <div class="circle circle-3">
                            <%= image_tag "img/logotec2 (1).png" %>
                        </div>

                        <!--
                        <div class="circle circle-1">
                            <h3>Bioconstrucción</h3>
                        </div>
                        <div class="circle circle-2">
                            <h3>Permacultura</h3>
                        </div>
                        <div class="circle circle-3">
                            <h3>Tecnologia</h3>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



