<section class="brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bar">
                    <h2>BRANDS WE STOCK</h2>
                    <img src="img/bar.jpg" alt="">
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="yyyy">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="slider-container">
                <ul id="slider">
                    <li><a href="#"><%= image_tag "img/mueble2.png" %></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>