<section class="header-feahion">
    <!-- <img src="img/bambu1.jpg" alt=""> -->
    <%= image_tag "img/bambu1.jpg" %>
    <div class="header-text">
        <h4>Consume un producto sustentable</h4>
        <h3>Amigable con el medio ambiente <br> Tú decides</h3>
    </div>
</section>