<section class="season">
   <!-- <img src="img/bambu1.jpg" alt=""> -->
   <%= image_tag "img/bambu1.jpg" %>
    <div class="ovearlay"></div>
    <div class="text">
        <h2>Alta calidad </h2>
        <h3>Una mejor experiencia </h3>
    </div>
</section>