<section class="t-shart-brand">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                <div class="t_shart">
                   <div class="row">
                       <div class="col-md-5">
                           <div class="t_shart_img">
                        <%= image_tag "img/producto9.png" %>
                    </div>
                       </div>
                       <div class="col-md-7">
                           <div class="t_shart_text">
                        <h2>Porta encienso</h2>
                        <a href="#"><p>Leer más...</p></a>
                    </div>
                       </div>
                   </div>
                 </div>
            </div>
                <div class="col-md-4">
                <div class="t_shart">
                   <div class="row">
                       <div class="col-md-5">
                           <div class="t_shart_img">
                        <%= image_tag "img/producto10.png" %>
                    </div>
                       </div>
                       <div class="col-md-7">
                           <div class="t_shart_text">
                        <h2>Difusor de encienso</h2>
                        <a href="#"><p>Leer más...</p></a>
                    </div>
                       </div>
                   </div>
                 </div>
            </div>
                <div class="col-md-4">
                <div class="t_shart">
                   <div class="row">
                       <div class="col-md-5">
                           <div class="t_shart_img">
                        <%= image_tag "img/producto11.png" %>
                    </div>
                       </div>
                       <div class="col-md-7">
                           <div class="t_shart_text">
                        <h2>Mini macetero</h2>
                        <a href="#"><p>Leer más...</p></a>
                    </div>
                       </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
</section>